.container {
  display: flex;
  flex-direction: column;

  .count {
    font-size: 30px;
    color: aqua;
  }

  .action {
    padding: 10px;
    color: rgb(66, 185, 146);
    font-size: 30px;
    text-align: center;
    margin: 15px;
    background-color: rgb(0, 126, 126);
  }

}
