.accordion {
  background-color: #333333;
  color: #ffffff;
}

.card {
  border-radius: 12px;
  color: #ffffff;
  background-color: #333333;
}

.status {
  display: block;
  margin-top: 4px;
}

.tournamentsCard {
  border-radius: 12px;
  color: #ffffff;
  background-color: #333333;
  width: 100%;
}
